configs/snapshots
work
obj_dir
*.vcd
*.csv
*.log
*.exe
*.swp
*.sym
verilator-build
program.hex
snapshots
__pycache__
sim_build
sim-build*
venv
results.xml
verification/sim
verilator-cocotb-build
*.dat
*.xml
*.json
tools/renode/renode_run
tools/renode/build
tools/renode/*.elf
tools/renode/.venv
docs/build
