/* All views: initial background and text color */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  color: #E9EBFA;
  background-color: #0E1116;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

/* All views: standard link format*/
a:link {
  color: #00D0C9;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
}

/* All views: standard link - visited format */
a:visited {
  color: #E9EBFA;
  text-decoration: underline;
}

/* All views: standard link - activated format */
a:active {
  color: #00D0C9;
  color: #E9EBFA;
  text-decoration: underline;
}

center {
  padding: 95px;
}

th {
  border: 1px solid;
}

td {
  color: #E9EBFA;
  align-items: center;
}

/* Enable border on all centered tables aside from the info table */
body>center>table:not(.info-table) td:not(.coverBarOutline) {
  border: 1px solid #31363C;
}

body>center>table:not(.info-table) tr:not(.covDescHeader):hover {
  background-color: #8B8D8E;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* Background for the title navbar */
table.title-header-shadow {
  border: 0;
  background-color: #25292E;
  color: #DFE1F1;
  padding-bottom: 10px;
  padding: 95px 0;
}

/* Cell containing the table with logo & title */
td.title-container {
  width: auto;
  max-width: 61rem;
  display: flex;
  padding: 0 .2rem;
  align-items: center;
  margin-left: 95px;
  margin-right: 95px;
}

/* Table with logo & title */
table.title-header {
  color: #DFE1F1;
  text-align: center;
  align-items: left;
}

/* Logo on the top navbar */
td.title-logo {
  padding: .4rem;
  width: 10%;
}

/* Title on the top navbar */
td.title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 1.2rem;
}

/* Info table (Test metadata) */
table.info-table {
  border: 1px;
  align-items: center;
  padding: 0 95px;
  font-size: 20px;
  border-color: #DFE1F1;
}

tr.info-table-view {
  font-size: 35px;
}

td.headerInfo {
  text-align: right;
  padding-right: 6px;

  font-weight: bold;
  white-space: nowrap;
}

td.headerInfoValue {
  text-align: left;
  color: #00D0C9;

  font-weight: bold;
  white-space: nowrap;
}

td.headerCovSummary {
  color: #DFE1F1;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

td.headerCovSummary.rowLeft {
  text-align: right;
}

td.headerCovSummary.colTop {
  text-align: center;
}

td.headerCovSummaryEntry {
  border-radius: 6px;
  text-align: right;
  color: #DFE1F1;
  text-align: center;
  background-color: #31363C;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 4px;
  font-size: 16px;
  border-color: #DFE1F1;
}

tr.covDescHeader {
  color: #DFE1F1;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
}

td.headerCovDesc {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0px;
  font-weight: 500;
}

td.headerCovSubDesc {
  padding-left: 12px;
  padding-right: 4px;
  border-color: #DFE1F1;
  font-weight: 200;
}

/* All views: color of horizontal ruler */
td.ruler>img {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  aspect-ratio: 1 / 1;
}

/* Cleanup required */

/* Source code view/table entry background: format for lines classified as "Uncovered New Code (+ => 0):
Newly added code is not tested" */
td.tlaUNC {
  text-align: right;
  background-color: #FF6230;
}

td.tlaBgUNC {
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Uncovered New Code (+ => 0):
Newly added code is not tested" */
span.tlaUNC {
  text-align: left;
  background-color: #FF6230;
}

span.tlaBgUNC {
  background-color: #FF6230;
}

a.tlaBgUNC {
  background-color: #FF6230;
  color: #000000;
}

td.headerCovTableHeadUNC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Lost Baseline Coverage (1 => 0):
Unchanged code is no longer tested" */
td.tlaLBC {
  text-align: right;
  background-color: #FF6230;
}

td.tlaBgLBC {
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Lost Baseline Coverage (1 => 0):
Unchanged code is no longer tested" */
span.tlaLBC {
  text-align: left;
  background-color: #FF6230;
}

span.tlaBgLBC {
  background-color: #FF6230;
}

a.tlaBgLBC {
  background-color: #FF6230;
  color: #000000;
}

td.headerCovTableHeadLBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Included Code (# => 0):
Previously unused code is untested" */
td.tlaUIC {
  text-align: right;
  background-color: #FF6230;
}

td.tlaBgUIC {
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Included Code (# => 0):
Previously unused code is untested" */
span.tlaUIC {
  text-align: left;
  background-color: #FF6230;
}

span.tlaBgUIC {
  background-color: #FF6230;
}

a.tlaBgUIC {
  background-color: #FF6230;
  color: #000000;
}

td.headerCovTableHeadUIC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Baseline Code (0 => 0):
Unchanged code was untested before, is untested now" */
td.tlaUBC {
  text-align: right;
  background-color: #FF6230;
}

td.tlaBgUBC {
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Uncovered Baseline Code (0 => 0):
Unchanged code was untested before, is untested now" */
span.tlaUBC {
  text-align: left;
  background-color: #FF6230;
}

span.tlaBgUBC {
  background-color: #FF6230;
}

a.tlaBgUBC {
  background-color: #FF6230;
  color: #000000;
}

td.headerCovTableHeadUBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FF6230;
}

/* Source code view/table entry background: format for lines classified as "Gained Baseline Coverage (0 => 1):
Unchanged code is tested now" */
td.tlaGBC {
  text-align: right;
  background-color: #8B8D8E;
}

td.tlaBgGBC {
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Gained Baseline Coverage (0 => 1):
Unchanged code is tested now" */
span.tlaGBC {
  text-align: left;
  background-color: #8B8D8E;
}

span.tlaBgGBC {
  background-color: #8B8D8E;
}

a.tlaBgGBC {
  background-color: #8B8D8E;
  color: #000000;
}

td.headerCovTableHeadGBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Gained Included Coverage (# => 1):
Previously unused code is tested now" */
td.tlaGIC {
  text-align: right;
  background-color: #8B8D8E;
}

td.tlaBgGIC {
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Gained Included Coverage (# => 1):
Previously unused code is tested now" */
span.tlaGIC {
  text-align: left;
  background-color: #8B8D8E;
}

span.tlaBgGIC {
  background-color: #8B8D8E;
}

a.tlaBgGIC {
  background-color: #8B8D8E;
  color: #000000;
}

td.headerCovTableHeadGIC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Gained New Coverage (+ => 1):
Newly added code is tested" */
td.tlaGNC {
  text-align: right;
  background-color: #8B8D8E;
}

td.tlaBgGNC {
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Gained New Coverage (+ => 1):
Newly added code is tested" */
span.tlaGNC {
  text-align: left;
  background-color: #8B8D8E;
}

span.tlaBgGNC {
  background-color: #8B8D8E;
}

a.tlaBgGNC {
  background-color: #8B8D8E;
  color: #000000;
}

td.headerCovTableHeadGNC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Covered Baseline Code (1 => 1):
Unchanged code was tested before and is still tested" */
td.tlaCBC {
  text-align: right;
  background-color: #8B8D8E;
}

td.tlaBgCBC {
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Covered Baseline Code (1 => 1):
Unchanged code was tested before and is still tested" */
span.tlaCBC {
  text-align: left;
  background-color: #8B8D8E;
}

span.tlaBgCBC {
  background-color: #8B8D8E;
}

a.tlaBgCBC {
  background-color: #8B8D8E;
  color: #000000;
}

td.headerCovTableHeadCBC {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #8B8D8E;
}

/* Source code view/table entry background: format for lines classified as "Excluded Uncovered Baseline (0 => #):
Previously untested code is unused now" */
td.tlaEUB {
  text-align: right;
  background-color: #FFFFFF;
}

td.tlaBgEUB {
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Excluded Uncovered Baseline (0 => #):
Previously untested code is unused now" */
span.tlaEUB {
  text-align: left;
  background-color: #FFFFFF;
}

span.tlaBgEUB {
  background-color: #FFFFFF;
}

a.tlaBgEUB {
  background-color: #FFFFFF;
  color: #000000;
}

td.headerCovTableHeadEUB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Excluded Covered Baseline (1 => #):
Previously tested code is unused now" */
td.tlaECB {
  text-align: right;
  background-color: #FFFFFF;
}

td.tlaBgECB {
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Excluded Covered Baseline (1 => #):
Previously tested code is unused now" */
span.tlaECB {
  text-align: left;
  background-color: #FFFFFF;
}

span.tlaBgECB {
  background-color: #FFFFFF;
}

a.tlaBgECB {
  background-color: #FFFFFF;
  color: #000000;
}

td.headerCovTableHeadECB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Deleted Uncovered Baseline (0 => -):
Previously untested code has been deleted" */
td.tlaDUB {
  text-align: right;
  background-color: #FFFFFF;
}

td.tlaBgDUB {
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Deleted Uncovered Baseline (0 => -):
Previously untested code has been deleted" */
span.tlaDUB {
  text-align: left;
  background-color: #FFFFFF;
}

span.tlaBgDUB {
  background-color: #FFFFFF;
}

a.tlaBgDUB {
  background-color: #FFFFFF;
  color: #000000;
}

td.headerCovTableHeadDUB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Deleted Covered Baseline (1 => -):
Previously tested code has been deleted" */
td.tlaDCB {
  text-align: right;
  background-color: #FFFFFF;
}

td.tlaBgDCB {
  background-color: #FFFFFF;
}

/* Source code view/table entry background: format for lines classified as "Deleted Covered Baseline (1 => -):
Previously tested code has been deleted" */
span.tlaDCB {
  text-align: left;
  background-color: #FFFFFF;
}

span.tlaBgDCB {
  background-color: #FFFFFF;
}

a.tlaBgDCB {
  background-color: #FFFFFF;
  color: #000000;
}

td.headerCovTableHeadDCB {
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  background-color: #FFFFFF;
}

/* Source code view: format for date/owner bin that is not hit */
span.missBins {
  background-color: #ff0000
    /* red */
}