myst-parser
sphinx
sphinx_tabs

https://github.com/antmicro/sphinx-immaterial/releases/download/tip/sphinx_immaterial-0.0.post1.tip-py3-none-any.whl

https://github.com/antmicro/antmicro-sphinx-utils/archive/main.zip
https://github.com/antmicro/sphinxcontrib-internal/archive/master.zip
