name: VeeR-EL2 CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:

  Test-Regression-Cache-Waypack-0-num-ways-2:
    name: Test-Regression Cache Waypack 0
    uses: ./.github/workflows/test-regression-cache-waypack-0.yml
    with:
      waypack: 0
      num_ways: 2

  Test-Regression-Cache-Waypack-0-num-ways-4:
    name: Test-Regression Cache Waypack 0
    uses: ./.github/workflows/test-regression-cache-waypack-0.yml
    with:
      waypack: 0
      num_ways: 4

  Test-Regression-Cache-Waypack-1-num-ways-2:
    name: Test-Regression Cache Waypack 1
    uses: ./.github/workflows/test-regression-cache-waypack-0.yml
    with:
      waypack: 1
      num_ways: 2

  Test-Regression-Cache-Waypack-1-num-ways-4:
    name: Test-Regression Cache Waypack 1
    uses: ./.github/workflows/test-regression-cache-waypack-0.yml
    with:
      waypack: 1
      num_ways: 4

  Test-Exceptions-Regression:
    name: Test-Exceptions-Regression
    uses: ./.github/workflows/test-regression-exceptions.yml

  Test-Verification:
    name: Test-Verification
    uses: ./.github/workflows/test-verification.yml

  Test-Microarchitectural:
    name: Test-Microarchitectural
    uses: ./.github/workflows/test-uarch.yml

  Test-RISCV-DV:
    name: Test-RISCV-DV
    uses: ./.github/workflows/test-riscv-dv.yml

  Test-RISCOF:
    name: Test-RISCOF
    uses: ./.github/workflows/test-riscof.yml

  Test-UVM:
    name: Test-UVM
    uses: ./.github/workflows/test-uvm.yml

  Test-Renode:
    name: Test-Renode
    uses: ./.github/workflows/test-renode.yml

  Test-OpenOCD:
    name: Test-OpenOCD
    uses: ./.github/workflows/test-openocd.yml

  Build-Docs:
    name: Build-Docs
    uses: ./.github/workflows/build-docs.yml

