name: VeeR-EL2 Microarchitectural tests

on:
  workflow_call:

env:
  VERILATOR_VERSION: v5.010

jobs:
  lint:
    name: Lint microarchitectural tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup environment
        run: |
          RV_ROOT=`pwd`
          echo "RV_ROOT=$RV_ROOT" >> $GITHUB_ENV
          PYTHONUNBUFFERED=1
          echo "PYTHONUNBUFFERED=$PYTHONUNBUFFERED" >> $GITHUB_ENV

          TEST_PATH=$RV_ROOT/verification/block
          echo "TEST_PATH=$TEST_PATH" >> $GITHUB_ENV

          pip3 install nox
      - name: Lint
        run: |
          pushd ${TEST_PATH}
            nox -s test_lint
          popd
  tests:
    name: Microarchitectural tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - "block/pic"
          - "block/pic_gw"
          - "block/dma"
          - "block/ifu_compress"
          - "block/dec_tl"
          - "block/exu_alu"
          - "block/exu_mul"
          - "block/exu_div"
          - "block/iccm"
          - "block/dccm"
          - "block/lib_axi4_to_ahb"
          - "block/lib_ahb_to_axi4"
          - "block/pmp"
          - "block/dmi"
    env:
      CCACHE_DIR: "/opt/verification/.cache/"
      VERILATOR_VERSION: v5.010
      DEBIAN_FRONTEND: "noninteractive"
    steps:
      - name: Setup repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Cache Metadata
        id: cache_metadata
        run: |
          date=$(date +"%Y_%m_%d")
          time=$(date +"%Y%m%d_%H%M%S_%N")
          cache_verilator_restore_key=cache_verilator_
          cache_verilator_key=${cache_verilator_restore_key}${{ env.VERILATOR_VERSION }}
          cache_test_restore_key=uarch_${{ matrix.test }}_${{ matrix.coverage }}_
          cache_test_key=${cache_test_restore_key}${time}

          echo "date=$date" | tee -a "$GITHUB_ENV"
          echo "time=$time" | tee -a "$GITHUB_ENV"
          echo "cache_verilator_restore_key=$cache_verilator_restore_key" | tee -a "$GITHUB_ENV"
          echo "cache_verilator_key=$cache_verilator_key" | tee -a "$GITHUB_ENV"
          echo "cache_test_restore_key=$cache_test_restore_key" | tee -a "$GITHUB_ENV"
          echo "cache_test_key=$cache_test_key" | tee -a "$GITHUB_ENV"

      - name: Restore verilator cache
        id: cache-verilator-restore
        uses: actions/cache/restore@v3
        with:
          path: |
            /opt/verilator
            /opt/verilator/.cache
          key: ${{ env.cache_verilator_key }}
          restore-keys: ${{ env.cache_verilator_restore_key }}

      - name: Setup tests cache
        uses: actions/cache@v3
        id: cache-test-setup
        with:
          path: |
            ${{ env.CCACHE_DIR }}
          key: ${{ env.cache_test_key }}
          restore-keys: ${{ env.cache_test_restore_key }}

      - name: Install prerequisities
        run: |
          sudo apt -qqy update && sudo apt -qqy --no-install-recommends install \
            autoconf automake autotools-dev \
            bc bison build-essential \
            ccache cpanminus curl \
            flex \
            gawk gcc-riscv64-unknown-elf git gperf \
            help2man \
            libexpat-dev libfl-dev libfl2 libgmp-dev \
            libmpc-dev libmpfr-dev libpython3-all-dev libtool \
            ninja-build \
            patchutils python3 python3-dev python3-pip \
            texinfo \
            zlib1g zlib1g-dev
          sudo cpanm Bit::Vector

      - name: Setup environment
        run: |
          echo "/opt/verilator/bin" >> $GITHUB_PATH
          RV_ROOT=`pwd`
          echo "RV_ROOT=$RV_ROOT" >> $GITHUB_ENV
          PYTHONUNBUFFERED=1
          echo "PYTHONUNBUFFERED=$PYTHONUNBUFFERED" >> $GITHUB_ENV

          TEST_TYPE=`echo ${{ matrix.test }} | cut -d'/' -f1`
          TEST_NAME=`echo ${{ matrix.test }} | cut -d'/' -f2`
          TEST_PATH=$RV_ROOT/verification/${TEST_TYPE}

          echo "TEST_TYPE=$TEST_TYPE" >> $GITHUB_ENV
          echo "TEST_NAME=$TEST_NAME" >> $GITHUB_ENV
          echo "TEST_PATH=$TEST_PATH" >> $GITHUB_ENV

          # Fix random generator seed
          echo "RANDOM_SEED=1377424946" >> $GITHUB_ENV

          pip3 install meson nox

      - name: Run ${{ matrix.test }}
        run: |
          pushd ${TEST_PATH}
            nox -s ${TEST_NAME}_verify
          popd

      - name: Prepare coverage data
        run: |
          export PATH=/opt/verilator/bin:$PATH
          .github/scripts/convert_coverage_data.sh ${TEST_PATH}/${TEST_NAME}/
          echo "convert_coverage_data.sh exited with RET_CODE = "$?
          mkdir -p results
          mv ${TEST_PATH}/${TEST_NAME}/*.info results/

          # Prefix coverage results
          pushd results
            for OLD_NAME in *.info; do
              NEW_NAME=${OLD_NAME/coverage_/coverage_${TEST_NAME}_}
              echo "renaming '${OLD_NAME}' to '${NEW_NAME}'"
              mv ${OLD_NAME} ${NEW_NAME}
            done
          popd

      - name: Upload coverage data artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: uarch_tests_coverage_data
          path: ./results/*.info

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: uarch_tests_logs
          path: |
            verification/${{ matrix.test }}/*.log
            verification/${{ matrix.test }}/*.vcd
